In [1]:
import numpy as np
import pandas as pd 
import psycopg2
from sqlalchemy import create_engine
import os 
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')

## original data

In [2]:
nba = pd.read_csv("nba.csv", low_memory = False)
pd.set_option("display.max_column", 30)
pd.set_option("display.max_row", 50)
nba.head(6).T

,0,1,2,3,4,5
Unnamed: 0,0,1,2,3,4,5
game_id,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK
game_date,2022-02-17,2022-02-17,2022-02-17,2022-02-17,2022-02-17,2022-02-17
OT,0,0,0,0,0,0
H_A,A,A,A,A,A,A
...,...,...,...,...,...,...
SG%,36.0,0.0,32.0,10.0,0.0,7.0
SF%,60.0,4.0,67.0,0.0,0.0,62.0
PF%,4.0,85.0,0.0,0.0,0.0,31.0
C%,0.0,11.0,0.0,0.0,100.0,0.0
active_position_minutes,46.253586,52.15259,47.021807,27.603314,36.472537,54.944529

In [3]:
## first normal form 

nba = nba.drop(["Inactives"],axis = 1)
nba.head(3).T

                                    0             1             2
Unnamed: 0                          0             1             2
game_id                  202202170BRK  202202170BRK  202202170BRK
game_date                  2022-02-17    2022-02-17    2022-02-17
OT                                  0             0             0
H_A                                 A             A             A
...                               ...           ...           ...
SG%                              36.0           0.0          32.0
SF%                              60.0           4.0          67.0
PF%                               4.0          85.0           0.0
C%                                0.0          11.0           0.0
active_position_minutes     46.253586      52.15259     47.021807

[81 rows x 3 columns]

## Second Normal Form

In [4]:
# second normal form 
# Only have one column for the primary keep it's kinda cheating
players = nba[["player_id","player"]].drop_duplicates()

In [5]:
games = nba[["game_id","game_date","OT","season"]].drop_duplicates()

In [6]:
# third normal form 

nba = nba.drop(["game_date","OT","season"],axis = 1)

In [7]:
nba.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,...,112108,112109,112110,112111,112112,112113,112114,112115,112116,112117,112118,112119,112120,112121,112122
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,...,112108,112109,112110,112111,112112,112113,112114,112115,112116,112117,112118,112119,112120,112121,112122
game_id,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK,...,202003030DEN,202003030DEN,202003030DEN,202003030DEN,202003070GSW,202003070GSW,202003070GSW,202003070GSW,202003070GSW,202003070GSW,202003070GSW,202003070GSW,202003070GSW,202003070GSW,202003070GSW
H_A,A,A,A,A,A,A,A,A,A,A,A,A,A,H,H,...,A,A,A,A,H,H,H,H,H,H,H,H,H,H,H
Team_Abbrev,WAS,WAS,WAS,WAS,WAS,WAS,WAS,WAS,WAS,WAS,WAS,WAS,WAS,BRK,BRK,...,GSW,GSW,GSW,GSW,GSW,GSW,GSW,GSW,GSW,GSW,GSW,GSW,GSW,GSW,GSW
Team_Score,117,117,117,117,117,117,117,117,117,117,117,117,117,103,103,...,116,116,116,116,118,118,118,118,118,118,118,118,118,118,118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SG%,36.0,0.0,32.0,10.0,0.0,7.0,0.0,0.0,0.0,0.0,38.0,0.0,0.0,31.0,82.0,...,45.0,0.0,44.0,19.0,0.0,0.0,59.0,0.0,65.0,0.0,2.0,45.0,0.0,44.0,19.0
SF%,60.0,4.0,67.0,0.0,0.0,62.0,0.0,33.0,16.0,0.0,0.0,0.0,11.0,58.0,8.0,...,43.0,0.0,48.0,0.0,0.0,14.0,2.0,0.0,16.0,0.0,77.0,43.0,0.0,48.0,0.0
PF%,4.0,85.0,0.0,0.0,0.0,31.0,0.0,57.0,70.0,0.0,0.0,0.0,47.0,11.0,0.0,...,7.0,9.0,8.0,0.0,35.0,76.0,0.0,36.0,0.0,0.0,21.0,7.0,9.0,8.0,0.0
C%,0.0,11.0,0.0,0.0,100.0,0.0,0.0,10.0,14.0,100.0,0.0,100.0,42.0,0.0,0.0,...,0.0,91.0,0.0,0.0,65.0,10.0,0.0,64.0,0.0,0.0,0.0,0.0,91.0,0.0,0.0
active_position_minutes,46.253586,52.15259,47.021807,27.603314,36.472537,54.944529,28.08385,53.836511,52.255931,36.472537,26.257811,36.472537,47.128051,43.39704,50.406013,...,NaN,NaN,NaN,NaN,49.80189,51.395891,53.414398,49.808477,56.787002,42.573689,57.207786,58.202391,49.63064,58.923515,45.958787

In [8]:
nba.columns

Index(['Unnamed: 0', 'game_id', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Opponent_Abbrev', 'Opponent_Score',
       'Opponent_pace', 'Opponent_efg_pct', 'Opponent_tov_pct',
       'Opponent_orb_pct', 'Opponent_ft_rate', 'Opponent_off_rtg', 'player',
       'player_id', 'starter', 'mp', 'fg', 'fga', 'fg_pct', 'fg3', 'fg3a',
       'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl',
       'blk', 'tov', 'pf', 'pts', 'plus_minus', 'did_not_play', 'is_inactive',
       'ts_pct', 'efg_pct', 'fg3a_per_fga_pct', 'fta_per_fga_pct', 'orb_pct',
       'drb_pct', 'trb_pct', 'ast_pct', 'stl_pct', 'blk_pct', 'tov_pct',
       'usg_pct', 'off_rtg', 'def_rtg', 'bpm', 'minutes', 'double_double',
       'triple_double', 'DKP', 'FDP', 'SDP', 'DKP_per_minute',
       'FDP_per_minute', 'SDP_per_minute', 'pf_per_minute', 'ts',
       'last_60_minutes_per_game_starting', 'last_60_minutes_per_game_bench',
       'PG%', 'SG%', 'SF%', 'PF%', 'C%', 'active_position_minutes'],
      dtype='object')

## Third Normal Form

In [9]:
team_game = nba[["game_id",'H_A','Team_Abbrev',
       'Team_Score', 'Team_pace', 'Team_efg_pct', 'Team_tov_pct',
       'Team_orb_pct', 'Team_ft_rate', 'Team_off_rtg',"Opponent_Abbrev"]].drop_duplicates()

In [10]:
team_game

,game_id,H_A,Team_Abbrev,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,Team_ft_rate,Team_off_rtg,Opponent_Abbrev
0,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK
13,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS
26,202202170CHO,A,MIA,111,88.8,0.471,11.1,26.8,0.147,103.4,CHO
37,202202170CHO,H,CHO,107,88.8,0.453,13.6,28.1,0.221,99.7,MIA
48,202202170LAC,A,HOU,111,103.7,0.533,15.3,24.0,0.154,107.1,LAC
...,...,...,...,...,...,...,...,...,...,...,...
112068,202002270GSW,H,GSW,86,104.8,0.481,23.6,12.2,0.113,82.1,LAL
112079,202002290PHO,A,GSW,115,98.6,0.523,9.0,28.9,0.276,116.6,PHO
112090,202003010GSW,H,GSW,110,100.2,0.522,17.4,38.3,0.191,109.8,WAS
112101,202003030DEN,A,GSW,116,94.4,0.622,10.7,12.8,0.171,122.9,DEN
112112,202003070GSW,H,GSW,118,90.9,0.606,7.0,18.9,0.263,129.9,PHI

In [29]:
player_game = nba.drop(['Unnamed: 0', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Opponent_Abbrev', 'Opponent_Score',
       'Opponent_pace', 'Opponent_efg_pct', 'Opponent_tov_pct',
       'Opponent_orb_pct', 'Opponent_ft_rate', 'Opponent_off_rtg'],
                      axis=1)

In [30]:
player_game

,game_id,player,player_id,starter,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,ft_pct,orb,...,FDP,SDP,DKP_per_minute,FDP_per_minute,SDP_per_minute,pf_per_minute,ts,last_60_minutes_per_game_starting,last_60_minutes_per_game_bench,PG%,SG%,SF%,PF%,C%,active_position_minutes
0,202202170BRK,Corey Kispert,kispeco01,1,32:30,6,9,0.667,4,6,0.667,0,0,0.000,0,...,22.7,24.75,0.730769230769231,0.698461538461538,0.761538461538461,0.061538,9.00,31.716667,22.017778,1.0,36.0,60.0,4.0,0.0,46.253586
1,202202170BRK,Kyle Kuzma,kuzmaky01,1,30:16,2,7,0.286,0,3,0.000,1,1,1.000,0,...,16.9,17.25,0.652533039647577,0.558370044052863,0.569933920704846,0.099119,7.44,34.324000,18.475954,0.0,0.0,4.0,85.0,11.0,52.152590
2,202202170BRK,Kentavious Caldwell-Pope,caldwke01,1,25:26,3,7,0.429,1,3,0.333,0,0,0.000,1,...,18.0,18.75,0.717562254259502,0.707732634338139,0.737221494102228,0.000000,7.00,29.820290,16.051693,0.0,32.0,67.0,0.0,0.0,47.021807
3,202202170BRK,Raul Neto,netora01,1,20:40,5,7,0.714,1,1,1.000,1,2,0.500,1,...,24.9,25.50,1.13709677419355,1.20483870967742,1.23387096774194,0.048387,7.88,29.920833,14.603922,90.0,10.0,0.0,0.0,0.0,27.603314
4,202202170BRK,Thomas Bryant,bryanth01,1,14:04,5,6,0.833,0,1,0.000,2,2,1.000,1,...,27.0,27.25,1.79502369668246,1.91943127962085,1.93720379146919,0.000000,6.88,20.095833,14.538095,0.0,0.0,0.0,0.0,100.0,36.472537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112118,202003070GSW,Andrew Wiggins,wiggian01,1,37:04:00,3,10,0.300,0,0,0.000,4,7,0.571,1,...,25.8,26.00,0.660971223,0.696043165,0.701438849,0.107914,13.08,33.110667,19.232562,0.0,2.0,77.0,21.0,0.0,57.207786
112119,202003070GSW,Juan Toscano-Anderson,toscaju01,1,27:43:00,3,6,0.500,0,2,0.000,0,0,0.000,2,...,16.2,16.50,0.595309681,0.584485869,0.595309681,0.036079,6.00,25.470833,20.228571,5.0,45.0,43.0,7.0,0.0,58.202391
112120,202003070GSW,Dragan Bender,bendedr01,0,13:15,4,4,1.000,2,2,1.000,0,0,0.000,0,...,15.1,16.25,1.226415094,1.139622642,1.226415094,0.150943,4.00,24.083333,13.228788,0.0,0.0,0.0,9.0,91.0,49.630640
112121,202003070GSW,Mychal Mulder,muldemy01,1,31:48:00,5,10,0.500,3,7,0.429,5,6,0.833,0,...,23.7,25.25,0.794025157,0.745283019,0.794025157,0.094340,12.64,34.783333,27.691667,0.0,44.0,48.0,8.0,0.0,58.923515
112122,202003070GSW,Chasson Randle,randlch01,0,13:36,0,1,0.000,0,0,0.000,3,4,0.750,0,...,8.7,8.75,0.569852941,0.639705882,0.643382353,0.000000,2.76,10.415645,6.050000,81.0,19.0,0.0,0.0,0.0,45.958787

In [13]:
team_game

,game_id,H_A,Team_Abbrev,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,Team_ft_rate,Team_off_rtg,Opponent_Abbrev
0,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK
13,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS
26,202202170CHO,A,MIA,111,88.8,0.471,11.1,26.8,0.147,103.4,CHO
37,202202170CHO,H,CHO,107,88.8,0.453,13.6,28.1,0.221,99.7,MIA
48,202202170LAC,A,HOU,111,103.7,0.533,15.3,24.0,0.154,107.1,LAC
...,...,...,...,...,...,...,...,...,...,...,...
112068,202002270GSW,H,GSW,86,104.8,0.481,23.6,12.2,0.113,82.1,LAL
112079,202002290PHO,A,GSW,115,98.6,0.523,9.0,28.9,0.276,116.6,PHO
112090,202003010GSW,H,GSW,110,100.2,0.522,17.4,38.3,0.191,109.8,WAS
112101,202003030DEN,A,GSW,116,94.4,0.622,10.7,12.8,0.171,122.9,DEN
112112,202003070GSW,H,GSW,118,90.9,0.606,7.0,18.9,0.263,129.9,PHI

In [14]:
player_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112123 entries, 0 to 112122
Data columns (total 66 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Opponent_Score                     112123 non-null  int64
 1   Opponent_pace                      112123 non-null  float64
 2   Opponent_efg_pct                   112123 non-null  float64
 3   Opponent_tov_pct                   112123 non-null  float64
 4   Opponent_orb_pct                   112123 non-null  float64
 5   Opponent_ft_rate                   112123 non-null  float64
 6   Opponent_off_rtg                   112123 non-null  float64
 7   player                             112123 non-null  object
 8   player_id                          112123 non-null  object
 9   starter                            112123 non-null  int64
 10  mp                                 112123 non-null  object
 11  fg                                 112123 non-null  int64
 12  fga                                112123 non-null  int64
 13  fg_pct                             112123 non-null  float64
 14  fg3                                112123 non-null  int64
 15  fg3a                               112123 non-null  int64
 16  fg3_pct                            112123 non-null  float64
 17  ft                                 112123 non-null  int64
 18  fta                                112123 non-null  int64
 19  ft_pct                             112123 non-null  float64
 20  orb                                112123 non-null  int64
 21  drb                                112123 non-null  int64
 22  trb                                112123 non-null  int64
 23  ast                                112123 non-null  int64
 24  stl                                112123 non-null  int64
 25  blk                                112123 non-null  int64
 26  tov                                112123 non-null  int64
 27  pf                                 112123 non-null  int64
 28  pts                                112123 non-null  int64
 29  plus_minus                         112123 non-null  int64
 30  did_not_play                       112123 non-null  int64
 31  is_inactive                        112123 non-null  int64
 32  ts_pct                             112123 non-null  float64
 33  efg_pct                            112123 non-null  float64
 34  fg3a_per_fga_pct                   112123 non-null  float64
 35  fta_per_fga_pct                    112123 non-null  float64
 36  orb_pct                            112123 non-null  float64
 37  drb_pct                            112123 non-null  float64
 38  trb_pct                            112123 non-null  float64
 39  ast_pct                            112123 non-null  float64
 40  stl_pct                            112123 non-null  float64
 41  blk_pct                            112123 non-null  float64
 42  tov_pct                            112123 non-null  float64
 43  usg_pct                            112123 non-null  float64
 44  off_rtg                            112123 non-null  int64
 45  def_rtg                            112123 non-null  int64
 46  bpm                                112123 non-null  float64
 47  minutes                            112123 non-null  float64
 48  double_double                      112123 non-null  int64
 49  triple_double                      112123 non-null  int64
 50  DKP                                112123 non-null  float64
 51  FDP                                112123 non-null  float64
 52  SDP                                112123 non-null  float64
 53  DKP_per_minute                     92725 non-null   object
 54  FDP_per_minute                     92725 non-null   object
 55  SDP_per_minute                     92725 non-null   object
 56  pf_per_minute                      92724 non-null   float64
 57  ts                                 112123 non-null  float64
 58  last_60_minutes_per_game_starting  109403 non-null  float64
 59  last_60_minutes_per_game_bench     109403 non-null  float64
 60  PG%                                111976 non-null  float64
 61  SG%                                111976 non-null  float64
 62  SF%                                111976 non-null  float64
 63  PF%                                111976 non-null  float64
 64  C%                                 111976 non-null  float64
 65  active_position_minutes            97003 non-null   float64
dtypes: float64(36), int64(24), object(6)
memory usage: 56.5+ MB

In [15]:
dbserver = psycopg2.connect(
    user = 'postgres',
    password = POSTGRES_PASSWORD,
    host = 'postgres',
    port = '5432'
)

dbserver.autocommit = True

In [16]:
cursor = dbserver.cursor()

In [17]:
try:
    cursor.execute('CREATE DATABASE nba')
except:
    cursor.execute('DROP DATABASE nba')
    cursor.execute('CREATE DATABASE nba')

In [18]:
engine = create_engine("postgresql+psycopg2://{user}:{pw}@{service}/{db}".format(
    user = 'postgres', pw = POSTGRES_PASSWORD, service= "postgres", db = 'nba'
))

In [33]:
games.columns = [x.lower() for x in games.columns]
players.columns = [x.lower() for x in players.columns]
team_game.columns = [x.lower() for x in team_game.columns]
player_game.columns = [x.lower() for x in player_game.columns]

In [34]:
engine

Engine(postgresql+psycopg2://postgres:***@postgres/nba)

In [35]:
games.to_sql('games',con = engine, index = False, chunksize = 1000, if_exists = 'replace')

3197

In [36]:
players.to_sql('players',con = engine, index = False, chunksize = 1000, if_exists = 'replace')

812

In [37]:
team_game.to_sql('team_game',con = engine, index = False, chunksize = 1000, if_exists = 'replace')

6394

In [38]:
player_game.to_sql('player_game',con = engine, index = False, chunksize = 500, if_exists = 'replace')

112123

In [39]:
myquery = '''
SELECT * 
FROM games
'''
pd.read_sql_query(myquery, con = engine)

           game_id   game_date  ot  season
0     202202170BRK  2022-02-17   0    2022
1     202202170CHO  2022-02-17   2    2022
2     202202170LAC  2022-02-17   0    2022
3     202202170MIL  2022-02-17   0    2022
4     202202170NOP  2022-02-17   0    2022
...            ...         ...  ..     ...
3192  202001080GSW  2020-01-08   0    2020
3193  202008020HOU  2020-08-02   0    2020
3194  201911060HOU  2019-11-06   0    2020
3195  201912250GSW  2019-12-25   0    2020
3196  202002200GSW  2020-02-20   0    2020

[3197 rows x 4 columns]

In [28]:
myquery = '''
SELECT * 
FROM games
WHERE season = 2022
'''
pd.read_sql_query(myquery, con = engine)

          game_id   game_date  OT  season
0    202202170BRK  2022-02-17   0    2022
1    202202170CHO  2022-02-17   2    2022
2    202202170LAC  2022-02-17   0    2022
3    202202170MIL  2022-02-17   0    2022
4    202202170NOP  2022-02-17   0    2022
..            ...         ...  ..     ...
878  202111190NOP  2021-11-19   0    2022
879  202111290LAC  2021-11-29   0    2022
880  202201130NOP  2022-01-13   0    2022
881  202201250PHI  2022-01-25   0    2022
882  202201210PHI  2022-01-21   0    2022

[883 rows x 4 columns]

In [41]:
myquery = '''
SELECT pg.game_id, pg.player_id, pg.pts, tg.team_score
    CAST(pg.pts AS float)/CAST(tg.team_score AS float) AS point_percent
FROM player_game pg
INNER JOIN team_game tg 
    ON pg.game_id = tg.game_id
WHERE pg.pts >40 AND tg.team_score>120 
'''
pd.read_sql_query(myquery, con = engine)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "("
LINE 3:     CAST(pg.pts AS float)/CAST(tg.team_score AS float) AS po...
                ^

[SQL:
SELECT pg.game_id, pg.player_id, pg.pts, tg.team_score
    CAST(pg.pts AS float)/CAST(tg.team_score AS float) AS point_percent
FROM player_game pg
INNER JOIN team_game tg
    ON pg.game_id = tg.game_id
WHERE pg.pts >40 AND tg.team_score>120
]
(Background on this error at: https://sqlalche.me/e/20/f405)